<div class="container bg-white py-5">
  <footer class="align-items-end">
    <p class="text-end">
      <img
        src="{{ '/assets/images/clir-logo.webp' }}"
        class="ms-3 img-fluid float-end"
        alt="CLIR logo"
        width="75"
      />

      DLF is a program of the
      <a href="http://www.clir.org/"
        >Council on Library and Information Resources</a
      >.<br />
      Published by the Digital Library Federation, last modified by Eric (admin)
      on 18 January 2011.<br />
      <a href="http://creativecommons.org/licenses/by-nc/3.0/"
        >Some rights reserved</a
      >. <a href="https://www.clir.org/privacy/">Some notes on privacy</a>.
    </p>
  </footer>
</div>
