<div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
  >
    <a
      href="{{ '/' | url }}"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <img
        src="{{ '/assets/images/DLFrev1BL_notag_200.png' }}"
        alt="DLF Logo"
      />
      <span class="fs-4 visually-hidden">{{ site.title }}</span>
    </a>
  </header>
</div>
