<div class="col-md-4">
  <div id="sidebar" class="pt-2">
    <div class="p-4 box">
      <h4 class="text-muted">2013 Program Planning Committee</h4>
      <p>
        Aaron Choate<br />
        Ann Frenkel<br />
        Brian Rosenblum<br />
        Cathy Aster<br />
        Cristela Garcia-Spitz<br />
        Edward Bilodeau<br />
        Harriett Green<br />
        Jennifer Weintraub<br />
        Lois Widmer<br />
        Michael Giarlo<br />
        Michelle Dalmau<br />
        Neil J. McElroy<br />
        Patricia Hswe<br />
        Sara Schmidt
      </p>
    </div>

    <div class="p-4 my-4 box">
      <h4 class="text-muted">Forum 2013 Pages</h4>

      <ul class="list-unstyled lh-lg">
        <li>
          <a title="2013 DLF Forum: Overview" href="{{ '/' }}">Overview</a>
        </li>
        <li>
          <a href="/2013-dlf-forum-evaluation/">2013 DLF Forum Evaluation</a>
        </li>
        <li>
          <a href="/dine-arounds/">Dine Arounds</a>
        </li>
        <li>
          <a href="/fellowships/">Fellowships</a>
        </li>
        <li>
          <a href="/hotel/">Hotel and Travel</a>
        </li>
        <li>
          <a href="/keynotes/">Keynote Speakers</a>
        </li>
        <li>
          <a href="/registration/">Registration</a>
        </li>
        <li>
          <a href="/schedule/">Schedule</a>
        </li>
        <li>
          <a href="/sponsors/">Sponsors</a>
        </li>
        <li>
          <a href="/sponsorship-opportunities/">Sponsorship Opportunities</a>
        </li>
        <li>
          <a href="/things-to-know/">Things to Know</a>
        </li>
        <li>
          <a href="https://www.diglib.org/dlf-events/past/">Past Forums</a>
        </li>
      </ul>
    </div>

    <div class="p-4 my-4 box">
      <h4>Search</h4>
      <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
      <script src="/pagefind/pagefind-ui.js"></script>
      <div id="search"></div>
      <script>
        window.addEventListener('DOMContentLoaded', (event) => {
          new PagefindUI({ element: '#search', showSubResults: true })
        })
      </script>
    </div>

    <div class="p-4 box">
      <h4>Links</h4>
      <ol class="list-unstyled">
        <li>
          <a href="https://github.com/clirdlf/forum2011">GitHub</a>
        </li>
        <li><a href="{{ site.twitter }}">Twitter</a></li>
        <li><a href="{{ site.facebook }}">Facebook</a></li>
      </ol>
    </div>
  </div>
</div>
