---
title: 'What to do When the Cops Call?: Lessons Learned from ETDs and Repository Management'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Managing an institutional repository can be a complicated process. Three
  repository managers from disparate organizations have come together to share
  their top tips for the care and feeding of an IR. The “lessons learned” from
  managing Electronic Theses and Dissertations can readily be applied to Digital
  Libraries, faculty interactions, and other areas of project management. This
  panel can teach us about what users need when uploading content to the
  repository, what to do when the cops call, how to deal with openness, and
  more.
</p>
<p>
  If your university has mandated that students deposit electronic copies of
  their theses and dissertations in the institutional repository, ETDs are
  likely to be one of your largest IR collections, your most consistently
  updated source of content, and the first (and most stressful) way your users
  encounter the repository. High stress situations, looming deadlines, and
  worried users are all part of the ETD process. Drawing upon their experience
  with problematic patron encounters, deposit workflow revision, instructional
  design, and improved patron satisfaction, our panelists will describe what
  worked, what failed, and what lessons you can take away to apply to management
  of the repository as a whole.
</p>
<p>Topics covered by the panelists will include:</p>
<ul>
  <li>
    High stress/high pressure situations: what to do when you have to call
    security… or the cops call you
  </li>
  <li>
    Why “never trouble trouble til trouble troubles you” isn’t a good strategy
    for repository management and planning
  </li>
  <li>
    The importance of outreach and instruction, and the necessity of delivering
    them in multiple formats
  </li>
  <li>Soothing the stressed student… or faculty member</li>
  <li>Continually improving and refining workflows and services</li>
  <li>
    Working with stakeholders from all parts of the university, and
    understanding and balancing their different needs.
  </li>
</ul>
<p>
  This moderated panel will conclude with an opportunity for audience questions
  and discussion.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Molly Dolan, West Virginia University<br />
  Sarah Shreeves, University of Illinois at Urbana-Champaign<br />
  Amy Buckland, McGill University<br />
  Carmen Mitchell, California State University San Marcos
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1zuGo8GegamjJms8drbSKs-sbbA6ceq_KhT7n8cp2SLU/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
