---
title: 'DMPTool2: Improvements and Outreach'
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description</strong><br />
  A growing number of US federal funding agencies require data management plans
  (DMP) as part of new research grant proposals. To help researchers with this
  requirement, several organizations (the California Digital Library, University
  of Illinois, University of Virginia, Smithsonian Institution, the DataONE
  consortium and the (UK) Digital Curation Centre) came together to develop the
  DMPTool in 2011. The goal of the DMPTool is to provide researchers with
  guidance, links to resources and help with writing data management plans.
  Thanks to a grant from the Alfred P. Sloan Foundation, these organizations
  have been able to develop DMPTool2, adding new features and functionality,
  while aiming to grow the number of users and funding requirements and build a
  community around DMP best practices.
</p>
<p>
  Researchers create plans in the tool by selecting their desired funding
  agency. The tool provides specific requirements from the selected agency as
  well as detailed help with each area of the plan. Users have access to
  complete DMP life cycle management, tracking changes through creation,
  editing, submission, evaluation, and publication. They may also perform
  enhanced keyword searches and view publicly available plans. With role-based
  user authorization, users may hold various roles within the interface:
  creators, collaborators, institutional administrators, and tool
  administrators. Furthermore, partner institutions can add significant value to
  the process with several special tool features. Along with institutional
  branding in the interface, they can provide links to resources they provide to
  users, such as to preservation repositories, consultation services, or news
  and event items. In addition, partner institutions can provide help with
  specific plan questions, and even suggest responses. Institutional
  administrators can also mine data on plans in order to better support
  researchers. Institutions may be represented in different roles: as a funder,
  a researcher’s affiliate, or as an institution with its own DMP requirements.
</p>
<p>
  In this working session, the leaders seek input from attendees in framing the
  direction of the where the project goes next. This includes, but is not
  limited to: new functionality, opportunities for integration with other
  systems, processes, and services, sustainability, and expanding the user base
  and institutional participation.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Sherry Lake, University of Virginia<br />
  Marisa Strong, California Digital Library<br />
  Stephen Abrams, California Digital Library<br />
  Sarah Shreeves, University of Illinois at Urbana Champaign<br />
  Dan Phipps, California Digital Library<br />
  Perry Willet, California Digital Library
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1xPl6vEBDerdIAAvxuYpIW2WLe3Js7HVKWRrl4_uExQ4/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
<p>
  View the
  <a
    href="http://www.slideshare.net/UC3/dmptool2-improvements-and-outreach-dlf-forum-2013-austin-tx"
    >slides</a
  >.
</p>
