---
title: 'Digital in Context: Designing a Digital Program For the Humanities'
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description</strong><br />
  Collectively, we have all been working on the digital aspects of libraries for
  well over 20 years. We have digitized and made accessible hundreds of millions
  of objects, collected and published faculty outputs through institutional
  repositories, and are increasingly working closely with faculty members on
  digital research projects which often involve visualizing data, and creative
  digital outputs from otherwise ‘traditional’ research.
</p>
<p>
  Most of this work, however, has been reactive – designed in response to
  funding calls, private donors, or urgent needs such as responding to
  government guidelines. As a result, we have collected a very large and rapidly
  expanding set of project outputs—collections and websites—many of which are
  unsustainable. Now is a good time to step back from our activities and think
  programmatically. Looking just at the Humanities, this working session will be
  a focused, purpose-led discussion of how we go about building a coherent
  digital library program to support the Humanities. Using Oxford’s Bodleian
  Libraries as one example of many – but with input from all participants
  welcome – the session will focus on the key characteristics needed to build a
  sustainable and coherent digital program to support the humanities.
</p>
<p>Specific topics will include:</p>
<ul>
  <li>Characteristics of successful programs</li>
  <li>Practicalities of building programs</li>
  <li>The Evolution of a program</li>
</ul>
<p>
  Much of the session will be informal and focused on discussion, but the group
  will be tasked with coming up with real outputs in each of these areas.
  Working session attendees will, for example, be asked to consider how their
  work fits into the mission and strategic aims of their institutions and how
  these considerations can make for a stronger program.
</p>
<p>
  <strong>Session Leader</strong><br />
  Christine Madsen, Oxford University
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1Z8cXvtzcfJx5yorMD-1UPzy4f0wV45sMKg9w2jMACs0/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
