---
title: Determining Assessment Strategies for Digital Libraries and Institutional Repositories using Usage Statistics and Altmetrics
---

<p><strong>Session Type: </strong>Working Session</p>
<p>
  <strong>Session Description</strong><br />
  As the amount of borne-digital scholarly and cultural content continues to
  grow, there are increased concerns with how to measure impact for digital
  collections, whose value has historically not been easy to assess. Currently,
  most OA repositories and digital special collections currently use
  measurements of collection size, not quality and use, to assess value (Wacha
  &amp; Wisner, 2011). Emerging measurements such as usage statistics (downloads
  and page views) and altmetrics (social media mentions, scholarly social
  bookmarks, and other measures enabled by open APIs for the social web), are
  well-positioned to help determine, quantitatively and qualitatively, use of
  digital content held in institutional repositories (IRs) and digital special
  collections. As value assessment in many libraries moves towards using
  quantitative measures, librarians working in IRs and digital special
  collections should consider the adoption of usage statistics and altmetrics to
  capture the fuller impact of their holdings.
</p>
<p>
  This working session will bring together interested library administrators and
  IR and digital collections librarians to identify areas of commonality in how
  we measure our collections across various platforms (ContentDM, Fedora,
  DSpace, EPrints, and Digital Commons, among others). Following a brief
  overview of usage statistics, altmetrics, and the web services that support
  reporting for both, participants will address technical issues in
  incorporating third-party systems into existing platforms, make UX
  recommendations for the display of such metrics in commonly used systems, and
  discuss concerns with implementing publicly-available metrics into IRs and
  digital special collections.
</p>
<p>
  The expected outcome of this meeting will be a white paper that outlines the
  various ways in which libraries can leverage usage statistics and altmetrics
  to measure the value of their digital collections and prove their worth to
  internal and external stakeholders, with an aim towards supporting continued
  research into the utility of implementing altmetrics and citation measurement
  into existing digital collections.
</p>
<p>
  References<br />
  Wacha, M., &amp; Wisner, M. (2011). Measuring Value in Open Access
  Repositories. The Serials Librarian, 61(3-4), 377–388.
  doi:10.1080/0361526X.2011.580423
</p>
<p>
  <strong>Session Leaders</strong><br />
  David Scherer, Purdue University<br />
  Stacy Konkiel, Indiana University<br />
  Michelle Dalmau, Indiana University
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1WC2qlBLnvYG4T18Wf3Lk5LbQCuwYFSq1cBYQGs5pPuI/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
