---
title: 'Carpe Data: Data Curation Services at Four Different Institutions'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  As funding agencies require data management plans (DMP) and data sharing,
  institutions are developing data services in their libraries. Data services
  may include data curation, including metadata creation and data preservation;
  data discovery, such as data set registration and data linking; extended
  references services, such as DMP consultations and data needs assessments; and
  internal activities, such as environmental scans and support for
  institutional/data repositories.
</p>
<p>
  The panel will discuss the evolution, status, and future of data services
  development in their respective institutions including:
</p>
<ul>
  <li>The status of data services development in their institution</li>
  <li>The steps taken to get to their current stage</li>
  <li>The methods of training</li>
  <li>The cross-institutional experiences of outreach, and</li>
  <li>The future direction of data services development</li>
</ul>
<p>
  Baylor University, the University of Maryland, the University of Michigan, and
  Purdue University are all exploring and developing data services in their
  libraries in unique ways. In response to faculty needs, Baylor University
  Libraries are ready to invest in data services. Recent conversations with the
  Office of Vice Provost for Research point to possible future collaborations in
  the DMP process. The University of Maryland Libraries take a project-based
  approach to data services, with a flexible organization model that encourages
  participation and professional development. With limited resources for
  institution-scale services, the team focuses heavily on the collection,
  curation, and reuse of unique data products. The University of Michigan
  Library is currently designing, implementing, and piloting research and data
  lifecycle services to support researchers in describing, storing, sharing, and
  archiving the digital products of their research. Purdue University Libraries
  has Data Services Specialists focusing on integrating data services throughout
  the Libraries and the Data Education Working Group that develops resources for
  liaison librarians and to support them in data activities, including support
  for the Purdue University Research Repository (PURR).
</p>
<p>
  <strong> Session Leaders</strong><br />
  Lisa Zilinski, Purdue University<br />
  Christina Y. Chan-Park, Baylor University<br />
  Robin Dasler, University of Maryland<br />
  Natsuko Nicholls, University of Michigan
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/12edtVv0OjyeDxb0e0Nj3ZHFmE6jyIsojgZi7k3mI5Rs/edit?usp=sharing"
    >community reporting Google doc</a
  >
  of this session.
</p>
