---
title: 'Creating the New Normal: Fostering a Culture of Data Sharing With Researchers'
---

<p><strong>Session Type:</strong> Workshop</p>
<p>
  <strong>Session Description</strong><br />
  With the advent of data management plan requirements from funding agencies and
  increased pressures from publishers and research communities to make research
  data available, questions arise about how data are to be documented, described
  and disseminated through repositories. Answering these questions will not only
  require the development of a technical infrastructure but a cultural shift in
  how data are collected, managed, published, and stewarded. Getting to this
  point will require that the roles, practices, and values of data producers,
  librarians and repository managers across the data lifecycle are communicated
  and understood by all.
</p>
<p>
  This workshop will focus on bridging the cultural divide between actors in
  data production (faculty, students) and data curation (subject liaisons, data
  librarians, repository mangers) through an examination of the differences in
  how each side generally views and is engaged in the data lifecycle. By
  grounding development of services in the needs and desires of the relevant
  stakeholders, repositories and tools can be built that scientists will
  actually use. Furthermore, instruction to instill a data sharing ethos
  consistent with community expectations will build capacity to utilize the data
  sharing systems being developed.
</p>
<p>
  The workshop consists of two parts. In part one, presenters will introduce and
  discuss the perspectives of faculty and graduate students towards data
  management, sharing and curation that were identified as a part of the Data
  Information Literacy project (http://datainfolit.org). Part two of the session
  will be conducted through hands-on exercises, in which participants will have
  the opportunity to formulate what they see as the most important skills for
  data producers to acquire in “the new normal.” Participants will then develop
  responses to existing paradigms and practices with research data by
  identifying the needs of data producers and connecting these needs to library
  initiatives and repository services.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Jake Carlson, Purdue University<br />
  Marianne Bracke, Purdue University<br />
  Michael Fosmire, Purdue University<br />
  Megan Sapp Nelson, Purdue University<br />
  Brian Westra, University of Oregon<br />
  Sarah Wright, Cornell University
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/15XuOrDuuDhly3rSyOPJMhAL822_14jULJbmwGZMEzRo/edit?usp=sharing"
    >community reporting Google doc</a
  >
  of this session.
</p>
