---
title: Hunting for Best Practices in Digital Library Assessment
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description</strong><br />
  Research and cultural heritage institutions are increasingly focused on
  providing online access to digital special collections and archives. Since
  funding to these institutions is simultaneously decreasing, we need to
  strategically focus our efforts, and better understand and measure their
  value, impact, and associated costs.
</p>
<p>
  However, methods in digital libraries are not yet standardized for identifying
  user groups; measuring usage, impact, cost and value; obtaining feedback; or
  analyzing results. As a result, findings cannot effectively
  be&nbsp;generalized.
</p>
<p>
  What strategic information do we need to collect in order to make intelligent
  decisions? How can we best collect, analyze, and communicate that information
  effectively?
</p>
<p>
  Examples of efforts to address these questions will be shared by panelists,
  along with problems encountered. Audience participants will be asked to help
  brainstorm how best to standardize evaluation methods. We are testing the
  waters for the potential of a collaborative effort to build community
  guidelines for best practices in digital library assessment. By the end of the
  session, we hope to have consensus on the main areas of need for establishing
  assessment best practices, as well as at least one actionable idea for moving
  towards this objective.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Jody DeRidder, University of Alabama<br />
  Sherri Berger, California Digital Library<br />
  Joyce Chapman, State Library of North Carolina<br />
  Cristela Garcia-Spitz, University of California, San Diego<br />
  Lauren Menges, University of North Carolina
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1-IHs5PJeGiC_cc5S370w5eJCC4Mj5ODDAXKJC2ILlWg/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
