---
title: Influence of Academic Rank on Faculty Members' Attitudes Toward Research Data Management
---

<p><strong>Session Type:</strong> Research Update</p>
<p>
  <strong>Session Description</strong><br />
  Academic librarians are increasingly engaging in data curation by providing
  infrastructure (e.g., institutional repositories) and offering services (e.g.,
  consultation on data management planning) to support the management of
  research data on their campuses. Efforts to develop these resources can
  benefit from a greater understanding of the social factors that affect how
  researchers manage their data and whether they choose to preserve their data
  long-term or openly share their data. In particular, academic rank is often
  thought to be an important factor influencing researchers’ attitudes to data
  preservation and sharing. This possibility, however, has rarely been directly
  investigated. In this research project, we analyzed the results of our recent
  campus-wide survey of research data management practices and perspectives,
  which encompassed arts &amp; humanities, social sciences, and natural sciences
  faculty members, by categorizing the respondents into professor, associate
  professor, assistant professor, and non-tenure-track ranks. We found
  statistically significant differences among faculty ranks in familiarity with
  funding agency requirements for data management plans, reasons that might
  prevent data sharing, and interest in data management-related services. No
  differences among faculty ranks, however, were observed for the amount of
  research data being stored, types of storage media, likelihood or openness of
  data sharing, use of data repositories/archives, or familiarity with data
  documentation. These findings reveal some key distinctions among different
  ranks of faculty members in their actions and attitudes toward research data
  management. Serious consideration of both the similarities and dissimilarities
  among academic ranks will help guide librarians and data curation
  professionals in developing data management-related services that are tailored
  to different researchers. Instead of a “one size fits all” approach, the most
  effective approach to data curation may be one that is tailored to the unique
  needs of specific populations of researchers.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Katherine G. Akers, Emory University Libraries<br />
  Jennifer Doty, Emory University Libraries
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/11IwzhQEGXqhgI5nCxlDRDV7Sz0JGICafU8lsQOE-5Ms/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
