---
title: 'What’s Holding Us Back: Honest Conversations about Starting and Sustaining New Projects'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Let’s have an honest conversation about developing and successfully completing
  a technical project from the perspective of administrators, project managers,
  subject librarians, and project developers. We’ll explore points of failure
  and success, touching on issues of organizational culture and change.
</p>
<p>
  The panelists will represent the real practical and political considerations
  in an academic library environment. We will talk about many of the issues you
  run against when you start a new project.
</p>
<ul>
  <li>How do you integrate new priorities into established workflows?</li>
  <li>
    How do you manage across differing units (within and without of the
    library)?
  </li>
  <li>
    How do you find the time and resources to coordinate a complex digital
    project?
  </li>
  <li>
    How do you get folks to understand the importance of metadata before it’s
    too late?
  </li>
</ul>
<p>
  We will hear from panelists at different levels of an organization convey
  their respective concerns, frustrations and needs. This panel will provide a
  valuable learning experience for creative staff at any level of an
  organization.
</p>
<p>
  The idea for this panel was created by the Taiga Forum (<a
    href="http://taiga-forum.org/"
    >http://taiga-forum.org/</a
  >), a leadership community of library professionals at the AUL/AD and
  equivalent level.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Ann Frenkel, Taiga Forum<br />
  Jennifer Vinopal, New York University<br />
  Mike Furlough, Pennsylvania State University<br />
  Harriett Green, University of Illinois at Urbana-Champaign<br />
  Bess Sadler, Stanford University
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1_q4zl0YqMn_yiZ1FFXsXit-a-3lITphQqs7ni5KpGko/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
