---
title: Testing Omeka for Core Digital Library Services
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  The Omeka web publishing software has been successfully used for a wide
  variety of digital exhibits and digital humanities initiatives. These valuable
  sites have often been implemented as standalone initiatives, however, heavily
  tailored towards an individual project’s needs. As academic libraries seek
  digital library infrastructures that are sustainable, scalable, and easy to
  maintain, a number of them are testing Omeka as a platform for hosting a
  variety of disparate projects within a single technical infrastructure.
</p>
<p>
  This panel will bring together speakers from the libraries at the University
  of North Carolina at Chapel Hill, Indiana University, the Ohio State
  University, and Duke University to discuss their pilot testing of Omeka
  through various formal and less formal means. Through a moderated, interactive
  question and answer format, speakers will address the goals of their
  respective Omeka pilots, the structure of the experimentation they have done,
  lessons learned, and any plans that they have developed for<br />
  turning pilot tests into fully supported production services. A representative
  from the Center for History and New Media at George Mason University will draw
  threads from the various presenters together and discuss future development
  directions for Omeka that will advance its utility for multi-project
  production environments.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Jenn Riley, University of North Carolina at Chapel Hill<br />
  Patrick Murray-John, Center for History &amp; New Media<br />
  Leslie Barnes, University of North Carolina at Chapel Hill<br />
  Will Cowan, Indiana University<br />
  Tschera Connell, Ohio State University<br />
  Melanie Schlosser, Ohio State University<br />
  Will Shaw, Duke University
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1x6VXnYZTh3VIEJjoY5vhllUZNh1xSSL5woAu8Fk6bAo/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
