---
title: 'Do You Know What Your Digital Images Are Really Made Of? This Ain’t Your Grandma’s Presentation About PPI.'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  This panel will address exciting developments in the library digital imaging
  production world.
</p>
<p>
  Come listen to a research imaging scientist with over 25 years of experience
  at Kodak discuss how to understand what makes a good quality digital image.
  Don Williams from Image Science Associates will share information about how to
  evaluate digital imaging performance using numerical analysis and also how to
  perform some naked eye tests. Attendees will be able to walk away having
  learned how to improve their digital image collections.
</p>
<p>
  Then, Emory University Libraries will present how they created and implemented
  a quality control program that utilizes some of the diagnostic tests Don will
  have presented about for digital image production. Emory needed to manage a
  sizable outsourced project that precipitated the need for a more rigorous,
  sustainable, and objective image QC process. Lessons learned from working with
  a digitization vendor that were applied to internal production will also be
  addressed in this presentation.
</p>
<p>
  Finally, Northwestern University Library will discuss the process they used to
  evaluate scanners they were considering for purchase. The presentation will
  provide information not only about the diagnostic tests that were used but
  also about the process of identifying samples, sequencing tests, and the site
  visit. Additionally, subsequent information about the performance of the
  scanner that was purchased will be discussed along with project setup
  procedures and benchmarking.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Carolyn Caizzi, Northwestern University Library<br />
  Don Williams, Image Science Associates<br />
  Kyle Fenton, Emory University Library<br />
  Dan Zellner, Northwestern University Library
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1rl9PPRm6mFgzVvCU5_61BQUv6_LVq83i7lBRgcdd2qQ/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
