---
title: 'Embedded Semantic Markup, schema.org, the Common Crawl, and Web Data Commons: What Big Web Data Means for Libraries and Archives'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Search engines are reaching the limits of natural language processing while
  wanting to provide more exact answers, not just results, especially for the
  mobile context. This shift is part of what has spurred progress in how data
  can be published and consumed on the Web. Broad and simple vocabularies and
  simplified embedded semantic markup is leading to wider adoption of publishing
  data in HTML. Libraries and archives can take advantage of new opportunities
  to make their services and collections more discoverable on the open Web. This
  presentation will show some examples of what libraries and archives are
  currently doing and point to future possibilities.
</p>
<p>
  At the same time as this new data is being made available, only a few
  organizations have the resources to crawl the Web and extract the data. The
  Common Crawl is helping to make a large repository of Web crawl data available
  for public use, and Web Data Commons is extracting the data embedded in the
  Common Crawl and making the resulting linked data available for download. This
  presentation will share data from original research on how libraries currently
  fare in this new environment of big Web data. Are libraries and archives
  represented in the corpus? With this democratization of Web crawl data and
  lowered expense for consumption of it, what are the opportunities for new
  library services and collections?
</p>
<p>
  <strong>Session Leader</strong><br />
  Jason Ronallo, North Carolina State University Libraries
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1gtWwqyPeCI8qU_KueZ6ypH2qUYqLZ17F3fjj6z4BQLQ/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
