---
title: 'Humanities Data Curation in the Library: The Preservation of Digital Humanities Research Now and To Come'
---

<p><strong>Session Type:</strong> Research Update</p>
<p>
  <strong>Session Description</strong><br />
  Academic libraries have been critical partners on a number of early digital
  humanities research projects, and several pioneering digital humanities
  archives still endure today. This paper examines four case studies of digital
  humanities projects that are being maintained in libraries, and how the
  infrastructures developed by the academic libraries for these projects shed
  light on the academic library’s role in curation of digital humanities
  projects.
</p>
<p>
  The author conducted in-depth interviews with scholars, librarians, and
  project managers who oversee four pioneering and long-maintained digital
  humanities research initiatives: the Victorian Women Writers Project, William
  Blake Archive, Walt Whitman Archive, and the MONK Project. For each of these
  cases, the paper considers the curation workflows developed by the project
  staff, the digital preservation infrastructure that currently exists, the
  personnel and financial support that sustains the project work, and the steps
  being taken by project managers to improve the data curation infrastructure
  and workflow for data curation in the project.
</p>
<p>
  The paper analyzes the current data curation workflows of the case studies, as
  mapped against the Digital Curation Centre Lifecycle, in order to propose a
  needs assessment of how humanities data curation can be realistically
  sustained by libraries.
</p>
<p>
  The paper ultimately argues that if the preservation and curation of digital
  humanities projects is to critically involve libraries, it necessitates a
  transformation in the ways in libraries conceptualize collection development
  and they must develop a strategic integration of humanities data into library
  content management processes.
</p>
<p>
  <strong>Session Leader</strong><br />
  Harriett Green, University of Illinois at Urbana-Champaign
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/11IwzhQEGXqhgI5nCxlDRDV7Sz0JGICafU8lsQOE-5Ms/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
<p>
  View the
  <a href="http://www.slideshare.net/green19/dlf2013-paper-slides-27934820"
    >slides</a
  >.
</p>
