---
title: 'Publishing in Your Library: Defining Purpose, Policies, and Practices'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Publishing in libraries seems to be everywhere these days – from university
  press collaborations to public libraries providing self-publishing services.
  All of these programs are making content available in new ways, but they vary
  widely in how they go about it. In part, this is because of the idiosyncratic
  way library publishing has developed in response to local needs; but it also
  reflects a variety of different goals. This working session will help
  attendees think through the purpose of their publishing program – whether it
  is well-established, newly-created, or just a dream – and how that purpose
  informs their policies and practices. The facilitators will lead a discussion
  on different models for staffing, infrastructure, funding, outreach, and more,
  all in the context of supporting program mission. They will then guide
  participants in creating a resource for identifying stakeholders and
  appropriate strategies for engaging them. The working session will provide an
  opportunity for members of the community to share their expertise and learn
  from each others’ experience, while continuing the discussion on library
  publishing from the last two Forums.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Melanie Schlosser, The Ohio State University<br />
  Amy Buckland, McGill University<br />
  Katherine Skinner, Library Publishing Coalition<br />
  Sarah Lippincott, Library Publishing Coalition
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1NlO37uT2LuAb6rIMIiXZjMDyYVS6ZvgcjR4b7TSpHXA/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
