---
title: 'Services for Research Data and Open Access: Strategies and Toolkits being implemented at Virginia Tech, the University of California, and Duke University'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Researchers are increasingly being expected to share their research data and
  publications in open access venues, whether through funder mandates,
  institutional open access policies, or disciplinary norms. How can university
  libraries and research support groups provide services to help researchers
  meet these expectations? Representatives from Virginia Tech, the University of
  California, and Duke University will each briefly present on strategies being
  implemented on their campuses to meet these goals, including staffing,
  technologies, and integration with other university initiatives and incentive
  models. Following the presentations, the audience is invited to join a
  moderated discussion on the tools and strategies discussed in the presentation
  as well as to discuss insights from their own institution and initiatives.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Sherry Lake, University of Virginia<br />
  Catherine Mitchell, California Digital Library<br />
  Justin Gonder, California Digital Library<br />
  Jim Tuttle, Duke University<br />
  Nathan Hall, Virginia Tech<br />
  Kyrille Goldbeck, Virginia Tech<br />
  Scott Pennington, Virginia Tech
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1iFjjJsF8I7odycBlBycfiV9EowpBQYX5a0NPXOZOVW4/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
