---
title: 'Corralling the Independent Spirit of Texas Libraries to Re-envision a Collaborative Statewide Digital Library'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Without direct state funding and building on the initial vision and successes
  of a state-wide organization of academic libraries, the Texas Digital Library
  (TDL) is embarking on a new phase of reflection and growth. As a new
  organization in the mid-decade, TDL partnered with founding member
  institution, Texas A&amp;M to create VIREO, an open source electronic theses
  and dissertation workflow management system, and provided DSpace repositories
  and other scholarly publishing services. Currently, we leverage partnerships
  with DPN, PKP, DuraSpace, TACC, and LEARN to insure consistent high-quality
  digital library solutions that “raise all boats” in a wide range of academic
  institutions in Texas.
</p>
<p>
  Responding to the needs of a diverse constituency in terms of size, resources,
  funding, and mission, TDL is redoubling its efforts to engage its membership
  to address common needs of preservation, access, scholarly publishing, and
  community-building. TDL is a hub for various digital library communities,
  including the state’s DSpace users and a growing nationwide base of Vireo
  users. Our communities also provide training, workshops, and the annual Texas
  Conference on Digital Libraries. They serve as a platform for mutual support,
  knowledge sharing, and standards development and augment the skills of a lean
  but nimble TDL staff.
</p>
<p>
  Panelists will include representatives from TDL member institutions as well as
  the organization’s newly appointed executive director. This group will present
  the high level challenges of coordinating efforts across institutions and
  discuss how the community is organized and the return on investment.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Debra Hanken Kurtz, Texas Digital Library<br />
  Sarah Potvin, Texas A&amp;M University Libraries<br />
  Mira Greene, Moody Medical Library, University of Texas Medical Branch at
  Galveston<br />
  Billie Peterson-Lugo, Baylor University Libraries<br />
  Laura Hammons, Texas A&amp;M University<br />
  Dana Rooks, University of Houston Libraries<br />
  Amy Rushing, University of Texas Libraries
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1mzcEQSX_oM5_fzgACiD_JyJkplWgLxuB0br8Ok03km4/edit?usp=sharing"
    >community reporting Google doc</a
  >
  of this session.
</p>
