---
title: 'A Hydra Community Story: Breadth vs. Depth? What makes a successful Digital Library?'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Breadth vs. Depth<br />
  The questions we hear most often are can I deposit my Article? My Dataset? My
  Presentation? My Poster? My Video? My Audio? Our answer has often been
  well…not yet. The emerging trend is variety, and you cannot focus on any
  single work or format type and expect to meet a researcher’s needs. Users have
  also been asking for three basic needs: preserve, share, and connect.
</p>
<p>
  In this presentation, we will explore how we have taken a breadth approach
  combined with community collaboration on the Hydra project to provide basic
  preservation and access coverage in order to start saying…yes you can deposit
  and share your article, dataset, presentation, poster, video, and audio.
</p>
<p>
  The Hydra Framework<br />
  Isn’t making something work for many content types usually pretty hard? By
  leveraging Hydra we are able to easily mix appropriate metadata schemas,
  content specific viewers, diverse workflows, and provide diverse access levels
  all within the same web interface. We can also integrate with registries like
  DOI and ORCID to connect to related materials and increase reuse.
</p>
<p>
  Add the Right Kind of Depth<br />
  Don’t users still demand advanced functionality? Often an organization can
  spend a lot of time building advanced features for a single content type, but
  if they are not tightly engaged with their users they often spend time
  implementing the wrong things. In contrast by meeting their basic needs first,
  faculty and researchers are able to leverage the repository for their research
  sooner and can then tell you exactly what advanced features will help them do
  their job better.
</p>
<p>
  Collaboration<br />
  Isn’t there still a lot of work to do? By aligning ourselves with like-minded
  institutions utilizing Hydra like Indiana University and the University of
  Virginia, we are able to divide and conquer, while leveraging the diverse
  domain knowledge across the institutions.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Rick Johnson, University of Notre Dame<br />
  Mike Giarlo, Penn State University<br />
  Robin Ruggaber, University of Virginia
</p>
<p>
  View the
  <a href="/assets/files/Breadthslides.pdf">slides</a>.
</p>
<p>
  View the&nbsp;<a
    href="https://docs.google.com/document/d/1kFJHwnv6Thl1w59TTwb8ZJs8Mz711gCik9I55OkQ9fk/edit?usp=sharing"
    >community reporting Google doc</a
  >&nbsp;for this session.
</p>
