---
title: Geospatial Data and Digital Libraries
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description</strong><br />
  In this working session we will discuss strategies digital libraries can adopt
  to integrate geospatial collections into a broader digital library
  infrastructure. We will discuss in particular the efforts already underway at
  several Hydra institutions (<a href="http://projecthydra.org/"
    >http://projecthydra.org</a
  >) to:
</p>
<ul>
  <li>
    Characterize and identify geospatial digital objects (e.g., maps, layers,
    vectors, rasters)
  </li>
  <li>
    Model, ingest, and manage geospatial data as digital objects in Fedora
  </li>
  <li>
    Adopt policy and metadata guidelines to ensure adequate description across
    collections
  </li>
  <li>Share cataloging across institutions</li>
  <li>Search and discovery tools (e.g., creating a geoportal)</li>
  <li>
    Deliver data via scalable open infrastructures to support web mapping &amp;
    GIS applications
  </li>
</ul>
<p>
  Rather than focusing on a specific piece of software, this working session
  will focus on creating communities of shared best practice for integrating
  geospatial data in digital libraries.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Bess Sadler, Stanford University Libraries<br />
  Kim Durante, Stanford University Libraries<br />
  Darren Hardy, Stanford University Libraries<br />
  Susan Powell, Yale University Library<br />
  Adam Soroka, University of Virginia Library<br />
  Ronda Grizzle, University of Virginia Library
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1kXabGoXthVtIX0FIih6o1A2nMNozxI8WLSUxJd6piKE/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
