---
title: 'Interoperability in Practice: A Cross-Repository Image Viewer '
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Imagine an image viewer that allowed a user to compare images hosted in
  multiple image repositories at different institutions. Imagine that this
  viewer could be integrated easily with existing image discovery environments
  and could be hosted anywhere and provide consistent functionality. Imagine
  further that this application enabled the viewing and creation of image
  annotations, comments, and transcriptions produced by other tools in the vast
  ecosystem of cultural heritage image repositories.
</p>
<p>
  The promise of interoperability between image repositories has been partially
  fulfilled by the consortium of institutions involved in the International
  Image Interoperability Framework. Multiple institutions are making images and
  related content available using the IIIF APIs but, until now, no killer apps
  have been produced that demonstrate the enormous potential of interoperating
  repositories.
</p>
<p>
  Stanford University Libraries have produced an open source embeddable
  javascript application for comparative viewing of images hosted from multiple
  repositories, in a variety of viewing modalities, and with a planned feature
  set that will take advantage of OpenAnnotation and SharedCanvas content to
  provide a rich and expanding user experience.
</p>
<p>
  This session will provide a demonstration of the viewer, the design process
  behind its creation, and a brief overview of the protocols that drive it: IIIF
  and SharedCanvas. Discussion will focus on the current feature set, problems
  faced, and planned future development.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Stuart Snydman, Stanford University Libraries<br />
  Benjamin Albritton, Stanford University Libraries<br />
  Tom Cramer, Stanford University Libraries<br />
  Christopher Jesudurai, Stanford University Libraries<br />
  Robert Sanderson, Los Alamos National Laboratory<br />
  Drew Winget, Stanford University Libraries
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1rl9PPRm6mFgzVvCU5_61BQUv6_LVq83i7lBRgcdd2qQ/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
