---
title: 'Digital Collections: If You Build Them, Will They Visit?'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  How do your cultural heritage organization’s digital collections fare in
  search rankings? Assuming your collections have newspapers from 1915, will a
  Google search for information about the “Battle of Gallipoli” return results?
  At the April 2012 Bibliothèque nationale de France International Newspapers
  Conference, one of the authors examined web traffic rankings and search
  results for digital newspaper collections at libraries around the world. Both
  traffic rankings and search results showed that content in cultural heritage
  organizations’ digital collections dwell in Internet obscurity
  (http://bit.ly/parisinternationalnewspapers).
</p>
<p>
  In this session we re-visit these rankings and results, examining what it
  means for a digital collection to be successful. Is success only about page
  views, unique visitors, and bounce rates? If, paraphrasing Trevor Owens
  (http://crowdstorming.wordpress.com), the mission of a cultural heritage
  organization is more than random users flipping through the pages of its
  digital collections, how does one encourage and measure community engagement?
  Is crowdsourcing “the single greatest advancement in getting people using and
  interacting with library collections” (Trevor Owens)?
</p>
<p>
  <strong>Session Leaders</strong><br />
  Frederick Zarndt, IFLA Newspapers Section<br />
  Brian Geiger, California Digital Newspaper Collection<br />
  Alyssa Pacy, Cambridge Public Library<br />
  Joanna DiPasquale, Vassar College<br />
  Robert Stauffer, Hoʻolaupaʻi Hawaiian Nūpepa Collection<br />
  Meredith Palmer, DL Consulting
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/14_jFMhS_Ala8xZkRPJAoGcHZRZ-7vKteu6CdcRLFY3s/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
