---
title: AMIA Hacker Lounge
---

<p>
  In association with the annual conference, the&nbsp;<a
    href="http://www.amianet.org/"
    >Association of Moving Image Archivists</a
  >&nbsp;will host its first ever hack day on November 6, 2013 in Richmond, VA.
  The event will be a unique opportunity for practitioners and managers of
  digital audiovisual collections to join with developers and engineers for an
  intense day of collaboration to develop solutions for digital audiovisual
  preservation and access. This will be the Forum outpost for those that want to
  participate while in Austin.
</p>
<p>
  More information about the AMIA/DLF Hack Day:&nbsp;<a
    href="https://www.diglib.org/announcing-the-first-amiadlf-hack-day/"
    >https://www.diglib.org/announcing-the-first-amiadlf-hack-day/</a
  >.
</p>
