---
title: ArchivesSpace and Hydra Hacker Lounge
---

<p><strong>Session Type:</strong> Working Session</p>
<p>
  <strong>Session Description</strong><br />
  Join members of the ArchivesSpace and Hydra communities in a session to
  discuss use cases and begin work to develop prototypes integrating the two
  products. ArchivesSpace, originally funded by the Andrew W. Mellon Foundation,
  is a next-generation archives management system and is the successor to
  Archivists’ Toolkit and Archon. The Hydra Project is an international
  consortium that focuses on shared development of open-source digital
  repository services. The project gives like-minded institutions a mechanism to
  combine their individual repository development efforts into a collective
  solution with breadth and depth that exceeds the capacity of any individual
  institution to create, maintain, or enhance on its own.
</p>
<p>
  <strong>Session Leader</strong><br />
  Mike Giarlo, Penn State University
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/16E0ioq9QuVlKqODOzbB537qeQphc22qOmE-Ee8MpJRQ/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
