---
title: Birds of a Feather Sessions
---

<p>Meet over lunch for conversations about:</p>
<p>
  <strong
    >Charting a Path Forward in the American Digital Stewardship
    Landscape</strong
  ><br />
  Session Leader: Christina Drummond<br />
  Table “1”
</p>
<p>
  <strong>Developing Local Benefits for Linked Open Data</strong><br />
  Session Leader: Jody DeRidder<br />
  Table “2”
</p>
<p>
  <strong>Gender and Technology</strong><br />
  Session Leader: Chris Bourg<br />
  Table “3”
</p>
<p>
  <strong>Research Data Alliance</strong><br />
  Session Leader: Inna Kouper<br />
  Table “4”
</p>
<p>
  The Research Data Alliance (RDA,
  <a href="https://rd-alliance.org/">https://rd-alliance.org</a>) is an
  international initiative envisioned to provide a forum for working on,
  supporting, and promoting data exchanges. Come to this BoF session to discuss
  opportunities for librarians to make a bigger impact by contributing to one of
  the RDA working and interest groups. Some of the questions we’ll address:
</p>
<ul>
  <li>
    How can library communities leverage RDA and make a wider impact (e.g., by
    engaging researchers, developing tools, promoting best practices)?
  </li>
  <li>
    What would library communities want/need from other stakeholders in data
    exchanges (e.g., researchers, software developers, funders, etc.)?
  </li>
  <li>What are the areas/items of immediate and/or long-term action?</li>
</ul>
<p>
  Bring all your data-related ideas, questions and concerns to this session.
</p>
<p>
  <strong>Publishing!</strong><br />
  Session Leader: Marjorie Fowler<br />
  “Table 5”
</p>
<p>
  <strong>Technologies for Processing Data at Scale</strong><br />
  Session Leader: Roy Tennant<br />
  “Table 6”
</p>
<p>
  For anyone interested in discussing the use of the Hadoop family of
  technologies &lt;<a href="http://hadoop.apache.org/"
    >http://hadoop.apache.org/</a
  >&gt;&nbsp;and/or other such tools like the Berkeley Data Analytics Stack
  &lt;<a href="https://amplab.cs.berkeley.edu/software/"
    >https://amplab.cs.berkeley.edu/software/</a
  >&gt; to process massive amounts of data&nbsp;quickly on commodity hardware.
</p>
<p>Propose a topic to lkwasigroch@clir.org.</p>
