---
title: Community Idea Exchange Lightning Round and Posters
---

<p>
  The Community Idea Exchange is made up of Posters and a Lightning Round.
  Fast-paced and fun, the Lightning Round gives each presenter no more than 60
  seconds to pitch their poster to the conference audience. There is also
  dedicated time in the program for attendees to visit with poster presenters.
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1RlHak5lwCVmUVUkMLiUFJn7kCW8QGb3I-aYupwKF2nM/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for the posters.
</p>
<p>
  <strong>Lightning Round</strong> – Tuesday, November 5, 2:30-3:30 pm<br />
  <strong>Breakfast with the Posters</strong> – Wednesday, November 6, 8-9 am
</p>
<p><strong>Posters</strong></p>
<p>
  <a
    href="http://www.scribd.com/doc/179881607/Adding-Structural-Metadata-to-Locally-Digitized-Content-in-HathiTrust-Poster"
    ><strong
      >Adding Structural Metadata to Locally Digitized Content in
      HathiTrust</strong
    ></a
  ><br />
  Jason Colman, University of Michigan Library<br />
  Kathryn Horne, University of Michigan Library
</p>
<p>
  <a
    href="http://www.scribd.com/doc/180290851/Advancing-Research-Communication-Scholarship-ARCS-Extending-the-Scholarly-Communication-Conversation-Poster"
    ><strong
      >Advancing Research Communication &amp; Scholarship (ARCS): Extending the
      Scholarly Communication Conversation</strong
    ></a
  ><br />
  Jill Emery, Portland State University
</p>
<p>
  <strong>Altmetrics for Institutions – Looking Beyond Citations</strong><br />
  Euan Adie, Altmetric
</p>
<p>
  <a
    href="http://www.scribd.com/doc/179881514/Authority-Control-for-Digital-Collections-Poster"
    ><strong>Authority Control for Digital Collections</strong></a
  ><br />
  Jeremy Myntti, University of Utah<br />
  Nate Cothran, Backstage Library Works
</p>
<p>
  <a
    href="http://www.scribd.com/doc/180897447/Avalon-Media-System-Demonstration-Poster"
    ><strong>Avalon Media System Demonstration</strong></a
  ><br />
  Jon W. Dunn, Indiana University Libraries<br />
  Andrea Zielke, Northwestern University Library
</p>
<p>
  <strong>Brooklyn’s Waterfront as a Living Laboratory</strong><br />
  Anne Leonard, New York City College of Technology/CUNY
</p>
<p>
  <a
    href="http://www.scribd.com/doc/180898224/Building-a-Regional-Electronic-Bibliography-The-British-Columbia-Bibliography-Experience-Poster"
    ><strong
      >Building a Regional Electronic Bibliography: The British Columbia
      Bibliography Experience</strong
    ></a
  ><br />
  Robert Stibravy, University of British Columbia Library
</p>
<p>
  <a
    href="http://www.scribd.com/doc/180895630/Catching-Up-to-the-Speed-of-Data-Insights-from-CLIR-DLF-Data-Curation-Fellows-on-their-Journey-Towards-Developing-Data-Services-Poster"
    ><strong
      >Catching Up to the Speed of Data: Insights from CLIR/DLF Data Curation
      Fellows on their Journey Towards Developing Data Services</strong
    ></a
  ><br />
  Fe C. Sferdean, University of Michigan<br />
  Ting Wang, Lehigh University
</p>
<p>
  <strong
    >Collaborating for Better Metadata: Upgrading Metadata in the University of
    Houston Digital Library</strong
  ><br />
  Santi Thompson, University of Houston Libraries<br />
  Annie Wu, University of Houston Libraries
</p>
<p>
  <strong>A Community Approach to Digital Library Development</strong><br />
  Angela Courtney, Indiana University<br />
  Craig Harkema, University of Saskatchewan
</p>
<p>
  <strong
    >A Complete ETD Paradigm: The Workflow From Submission to Preservation at
    Texas Tech University</strong
  ><br />
  Shelley E. Barba, Texas Tech University<br />
  Le Yang, Texas Tech University
</p>
<p>
  <a
    href="http://www.scribd.com/doc/180892726/The-Development-and-Implementation-of-an-Interdepartmental-Digitization-Workflow-Poster"
    ><strong
      >The Development and Implementation of an Interdepartmental Digitization
      Workflow</strong
    ></a
  ><br />
  Valerie Prilop, University of Houston Libraries<br />
  R. Niccole Westbrook, University of Houston Libraries
</p>
<p>
  <strong>dh+lib: Behind the Scenes</strong><br />
  Sarah Potvin, Texas A&amp;M University<br />
  Zach Coble, Gettysburg College<br />
  Roxanne Shirazi, CUNY Graduate Center
</p>
<p>
  <a
    href="http://www.scribd.com/doc/180895252/Digital-Libraries-and-the-Internationalization-of-Higher-Education-Poster"
    ><strong
      >Digital Libraries and the Internationalization of Higher
      Education</strong
    ></a
  ><br />
  Harriett Green, University of Illinois at Urbana-Champaign
</p>
<p>
  <a href="https://scholarship.rice.edu/handle/1911/75103"
    ><strong
      >Digital Preservation: Tales From the Precipice Between Theory and
      Practice</strong
    ></a
  ><br />
  Monica Rivero, Rice University<br />
  Amanda Focke, Rice University<br />
  Sid Byrd, Rice University<br />
  Ying Jin, Rice University
</p>
<p>
  <strong
    ><a
      href="http://www.scribd.com/doc/180895631/Digital-Video-Preservation-Access-Broad-Strokes-to-Local-Implementation-Poster"
      >Digital Video Preservation &amp; Access: Broad Strokes to Local
      Implementation</a
    >&nbsp;&amp;
    <a
      href="http://www.scribd.com/doc/180895618/Digital-Video-Preservation-Access-Broad-Strokes-to-Local-Implementation-Handout"
      >Handout</a
    ></strong
  ><br />
  Jane Zhao, Rice University<br />
  Amanda Focke, Rice University<br />
  Ying Jin, Rice University<br />
  Monica Rivero, Rice University<br />
  Sid Byrd, Rice University
</p>
<p>
  <strong>Ebook File Preparation</strong><br />
  Bill Grosskopf, Newgen North America
</p>
<p>
  <strong>figshare for Institutions</strong><br />
  Mark Hahnel, figshare
</p>
<p>
  <strong>The Future Lies in Guided Research</strong><br />
  Hartmut Janczikowski, CCS Content Conversion Specialists<br />
  Allison Watson, Digital Transitions
</p>
<p>
  <strong>How to Turn Your Library Into a Storytelling Platform</strong><br />
  Mike Nutt, North Carolina State University<br />
  Jason Casden, North Carolina State University
</p>
<p>
  <strong>Inquiry into Digital Teaching Collections</strong><br />
  Laura French, University of Maryland Libraries
</p>
<p>
  <strong>National Agenda for Digital Stewardship</strong><br />
  Robin Ruggaber, University of Virginia<br />
  Emily Shaw, University of Iowa
</p>
<p>
  <strong>The Open Bibliography Project</strong><br />
  Kevin Clair, University of Denver<br />
  Dawn Childress, Penn State University
</p>
<p>
  <strong
    >Planning and Implementing a Ten-Campus Digital Library Service: the UC
    Libraries Digital Collection</strong
  ><br />
  Sherri Berger, University of California Libraries / California Digital
  Library<br />
  Brian Tingle, California Digital Library<br />
  Adrian Turner, California Digital Library
</p>
<p>
  <a href="http://www.scribd.com/doc/175970725/RecordExpress-Poster"
    ><strong
      >Reducing Barriers to Publishing New and Legacy Archival Finding Aids:
      RecordEXPRESS — A Simple Online Tool</strong
    ></a
  ><br />
  Mark Redar, California Digital Library<br />
  Adrian Turner, California Digital Library
</p>
<p>
  <strong>ScholarSphere</strong><br />
  Michael Giarlo, Penn State University
</p>
<p>
  <a
    href="http://www.scribd.com/doc/179881537/Symplectic-Elements-Publications-Harvesting-Repository-Integration-and-VIVO-Ingest-Poster"
    ><strong
      >Symplectic Elements Publications Harvesting, Repository Integration, and
      VIVO Ingest</strong
    ></a
  ><br />
  Kelsey Rosell, Symplectic Ltd.
</p>
<p>
  <strong>Transformative Trends in Library Technology</strong><br />
  Tim Whisenant, Innovative Interfaces Inc.
</p>
<p>
  <a
    href="http://www.scribd.com/doc/180892722/UBC%E2%80%99s-Digital-Library-Framework-Poster"
    ><strong>UBC’s Digital Library Framework</strong></a
  ><br />
  Bronwen Sprout, University of British Columbia Library<br />
  Paul Joseph, University of British Columbia Library
</p>
<p>
  <a
    href="http://www.scribd.com/doc/179920563/What%E2%80%99s-in-Store-for-DSpace-4-Poster"
    ><strong>What’s in Store for DSpace 4?</strong></a
  ><br />
  Bram Luyten, @mire
</p>
<p>
  <strong
    >Workset Creation for Scholarly Analysis: Preliminary Research at HathiTrust
    Research Center</strong
  ><br />
  Kirk Hess, University of Illinois at Urbana-Champaign<br />
  J. Stephen Downie, University of Illinois at Urbana-Champaign<br />
  Tim Cole, University of Illinois at Urbana-Champaign<br />
  Harriett Green, University of Illinois at Urbana-Champaign
</p>
