---
title: Sharing E-Research Strategic Agendas
---

<p>
  Greg Tananbaum from
  <a href="http://www.scholarnext.com/">ScholarNext</a>
  will kick off the session with an update on SHARE, a joint initiative of the
  Association of Research Libraries (ARL), the Association of American
  Universities (AAU), and the Association of Public and Land-grant Universities
  (APLU). SHARE (SHared Access Research Ecosystem) is a cross-institutional
  coordination framework to ensure access to, preservation and reuse of, and
  funding compliance for federally funded research. The framework will enable
  principal investigators to submit their funded research to any of the deposit
  locations designated by federal agencies using a single, common user
  interface.
</p>
<p>
  After the Share update, there will be a facilitated discussion with an
  opportunity for
  <a href="http://www.duraspace.org/e-science-institute">E-Science Institute</a>
  participants to re-connect and give an update on their progress, impact of the
  strategic agendas, and share their experiences since the Institute. If you
  would like to be part of the strategic agenda share lighting round, sign-up
  <a
    href="https://docs.google.com/forms/d/1BnN-2ylPGwBPqKlKiCy_QY7R74Zz0T4cPwPGZ9fB5iE/viewform"
    >here</a
  >.
</p>
