---
title: 'Fedora 4, ArchivesSpace, and Islandora Sync: Updates from the Community'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Fedora 4′s principle objectives are to provide a robust platform to support
  emerging data management needs, with native support for management and
  publishing via linked-data, in a package that is dramatically streamlined to
  deploy and support, and that preserves Fedora’s traditional strengths
  (flexibility, extensibility, durability, community). This session will present
  Fedora 4′s emerging architecture and functionality, highlighting the new
  capabilities of the system. As importantly, it will present Fedora’s
  revitalized development, community and governance framework, with an
  invitation and opportunity for the digital library community to join and help
  shape this critical effort in these still early days.
</p>
<p>
  <strong>Session Leader</strong><br />
  Andrew Woods, DuraSpace
</p>
<p>
  <strong>Session Description</strong><br />
  With the release of ArchivesSpace 1.0, the ArchivesSpace project team will
  have integrated the Archivists’ Toolkit (AT) and Archon, two precursor archive
  information management applications. But ArchivesSpace 1.0 goes far beyond
  that integration, as it includes functionality not in AT or Archon and is
  buttressed by a business model designed to support continuing development of
  ArchivesSpace. In this presentation, project team members will:
</p>
<p>
  1. Provide an overview of ArchivesSpace 1.0, highlighting its additional
  functionality and significant accomplishments,<br />
  2. Explain the ArchivesSpace membership model, and<br />
  3. Present a call for community involvement and a provisional roadmap to
  ArchivesSpace 2.0.
</p>
<p>
  <strong>Session Leaders</strong><br />
  David Millman, New York University<br />
  Katherine Kott, Consultant<br />
  Mark Matienzo, Yale University<br />
  Bradley Westbrook, ArchivesSpace
</p>
<p>
  <strong>Session Description</strong><br />
  Islandora combines the the Fedora repository system and the Drupal content
  management framework. Using Drupal to build the user interface layer for a
  digital library has numerous advantages. Drupal is highly modular and
  extensible, and lends itself to rapid development. Islandora limits the
  extensibility of Drupal so that it coordinates well with the rest of the
  infrastructure in the system. Islandora Sync overcomes this limitation by
  presenting Fedora content as nodes within the Drupal framework. Use cases will
  be presented to illustrate the benefits of using Sync to expose Fedora-hosted
  assets.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Kristian Allen, University of California, Los Angeles<br />
  Mark Leggot, DiscoveryGarden, Inc.
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1NxzmXr5klGcs3aDkastrLOSgwJhMulUnNvm7_pFq_HQ/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
