---
title: 'Dive Into Hydra'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>Session Type:</strong> Tutorial</p>
<p>
  <strong>Session Description</strong><br />
  This will be a group walk-through of the Dive into Hydra tutorial (available
  at
  <a href="https://github.com/projecthydra/hydra-head/wiki/Dive-into-Hydra"
    >https://github.com/projecthydra/hydra-head/wiki/Dive-into-Hydra</a
  >). If you’ve been wanting to try Hydra but aren’t sure how to get started,
  come join us for a gentle introduction to building a digital repository with
  the hydra technology stack.
</p>
<p>
  <strong>Session Leader</strong><br />
  Bess Sadler, Stanford University Library
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/15GTlJQ4avIONVa1IJZWx8FBBbm2O21XR8e4-sLPWZQE/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
