---
title: 'Pathways to Stimulating Experiential Learning and Technological Innovation in Academic Libraries'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Technology units within academic libraries are continually searching for new
  ways to leverage technology to improve digital collections and library
  services to students and faculty. Oregon State University Libraries &amp;
  Press (OSULP) and the University of California, Los Angeles (UCLA) Library
  have discovered that in many cases the students themselves are best positioned
  to develop innovative solutions to the challenges they face.
</p>
<p>
  These two libraries have pursued different approaches to promoting and
  providing opportunities for student leadership in technological innovation.
  UCLA created Simul8, a team of developers made up exclusively of students who
  work in an agile programming environment to develop ideas for services, and
  design interfaces by and for students. Much of their activity to date has
  focused on mobile and web app development for collection access and data
  visualization of digital library collections. OSULP also works in an agile
  manner, but utilizes a more directed approach that includes student
  programmers guided by Library staff, and collaborations with academic
  departments that enable students to develop technological innovations via
  capstone projects and internships. Examples include web sites and apps that
  build on the content of monographs published by OSU Press, as well as online
  tools for students to secure study rooms and tables in the Library.
</p>
<p>
  At both OSULP and UCLA, a culture of collaboration with students underpins
  these programs. This session will offer examples of projects we’ve created
  with our student programmers, the principles behind these strategies for
  student engagement, and the tools and infrastructure utilized. We will discuss
  how this approach supports digital content development and experiential
  learning for students, as well as the benefits and pitfalls of engaging
  students in this kind of mutually beneficial enterprise.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Shan Sutton, Oregon State University<br />
  Evviva Weinraub, Oregon State University<br />
  Todd Grappone, University of California, Los Angeles<br />
  Kevin Rundblad, University of California, Los Angeles
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/1nTQ4-1frp-bRrMVCuMi5Q7Y-c-xMHJAz2eCg5rQMniY/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
