---
title: 'Past the First Bend in the Road: Reflections on the Development of Digital Scholarship Programs From Five Institutions'
---

<p><strong>Session Type:</strong> Presentation</p>
<p>
  <strong>Session Description</strong><br />
  Each of the five institutions represented on this panel has recently
  participated in a project or initiative that expands the reach and function of
  their respective digital scholarship programs. These programs are now past the
  first bend in the road and all are working through the challenges of increased
  responsibility and expectation that follow any successful start-up phase.
  Panel members will address the topic of sustaining new initiatives through
  their particular institutional experiences ranging from building communities
  to creating unified library spaces to integrating with a new campus
  curriculum. After brief presentations, the panel will engage in a moderated
  discussion with the audience to identify and address strategies for meeting
  the logistical and organizational challenges of novel endeavors in libraries.
</p>
<p>
  <strong>Session Leaders</strong><br />
  Trevor Muñoz, University of Maryland<br />
  Jennifer Guiliano, University of Maryland<br />
  Andrew Ashton, Brown University Library<br />
  Zoe Borovsky, University of California, Los Angeles Library<br />
  Elizabeth McAulay, University of California, Los Angeles Library<br />
  Devin Becker, University of Idaho Library<br />
  Annie Gaines, University of Idaho Library<br />
  Allen Tullos, Emory University
</p>
<p>
  View the
  <a
    href="https://docs.google.com/document/d/11A5F1AmFf2ZrWv-3NSf8NbqlXSbbf-FyIoJiUjEIu90/edit?usp=sharing"
    >community reporting Google doc</a
  >
  for this session.
</p>
