---
title: 'Dine Arounds'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  New for the 2013 Forum are dine arounds, the evening of Tuesday, November 5.
  Try out one of Austin’s great restaurants with other Forum attendees. A local
  host will accompany each group of up to nine. Reservations have already been
  made for either 7:15 or 7:30 pm.
</p>
<p>
  Simply add yourself to the list by filling out this form:
  <a
    href="https://docs.google.com/forms/d/19-iCAbPTko3Vr97ovai690MUyIuEeUhdQ_gxAZoSIx4/viewform"
    >https://docs.google.com/forms/d/19-iCAbPTko3Vr97ovai690MUyIuEeUhdQ_gxAZoSIx4/viewform</a
  >.
</p>
<table class="table">
  <tbody>
    <tr class="table-primary">
      <th scope="col">Restaurant</th>
      <th scope="col">Cuisine</th>
      <th scope="col">Cost</th>
      <th scope="col">Location</th>
    </tr>
    <tr>
      <td>
        Clay Pit,
        <a href="http://claypit.com/">http://claypit.com/</a>
      </td>
      <td>Contemporary Indian</td>
      <td>Entrees $11-18</td>
      <td>
        • 1601 Guadalupe St. • 0.4 mile from conference center • 7 minute walk •
        Directions:
        <a href="http://goo.gl/maps/NNrNl">http://goo.gl/maps/NNrNl</a>
        • 7:15 pm
      </td>
    </tr>
    <tr>
      <td>
        Hopfields,
        <a href="http://hopfieldsaustin.com/">http://hopfieldsaustin.com/</a>
      </td>
      <td>Gastropub, craft beer bar</td>
      <td>Sandwiches $8-9, Entrees, $9-19</td>
      <td>
        • Location: 3110 Guadalupe Street • 1.3 miles from conference center •
        13 minute bus ride, 25 minute walk • Directions:
        <a href="http://goo.gl/maps/R848n">http://goo.gl/maps/R848n</a>
        • 7:15 pm
      </td>
    </tr>
    <tr>
      <td>
        La Condesa,
        <a href="https://lacondesa.com/austin">https://lacondesa.com/austin</a>
      </td>
      <td>Modern Mexican</td>
      <td>Entrees $17-25, Taquitos $10-14</td>
      <td>
        • 400 W 2nd St • 1.4 miles from conference center • 20 minute bus ride,
        30 minute walk • Directions:
        <a href="http://goo.gl/maps/8wzRH">http://goo.gl/maps/8wzRH</a>
        • 7:30 pm
      </td>
    </tr>
    <tr>
      <td>
        Scholz Garden,
        <a href="http://www.scholzgarten.net/">http://www.scholzgarten.net/</a>
      </td>
      <td>Biergarten, BBQ</td>
      <td>Burgers/sandwiches $7-9, Entrees $9-13</td>
      <td>
        • 1607 San Jacinto Blvd. • 0.5 mile from conference center • 9 minute
        walk • Directions:
        <a href="http://goo.gl/maps/7ZqWc">http://goo.gl/maps/7ZqWc</a>
        • 7:15 pm
      </td>
    </tr>
    <tr>
      <td>
        Coal Vines,
        <a href="http://www.coalvinesoftexas.com/"
          >http://www.coalvinesoftexas.com/</a
        >
      </td>
      <td>Pizza</td>
      <td>Pies $12-19, Entrees $12-16</td>
      <td>
        • 314 West 2nd Street • 1.4 miles from conference center • 17 minutes by
        bus, 26 minute walk • Directions:
        <a href="http://goo.gl/maps/7nk63">http://goo.gl/maps/7nk63</a>
        • 7:15 pm
      </td>
    </tr>
  </tbody>
</table>
<p>
  A big thank you to Kristi L. Park at the Texas Digital Library for organizing!
</p>
