---
title: 'Fellowships'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  Through the generosity of our sponsors, DLF is offering three types of
  fellowships and travel awards for the 2013 Forum.
</p>
<p>
  <a href="https://www.diglib.org/dlf-forum-fellowships-for-new-professionals/"
    ><strong>DLF Forum Fellowships for New Professionals</strong></a
  >
</p>
<p>
  These Fellowships are for full- or part-time academic library staff (less than
  three years of experience) or student assistants that would not otherwise be
  able to attend the Forum.
</p>
<p>
  <a
    href="https://www.diglib.org/arldlf-forum-fellowships-for-underrepresented-groups/"
    ><strong>ARL/DLF Fellowships for Underrepresented Groups</strong></a
  >
</p>
<p>
  These new Fellowships are intended to increase participant diversity at the
  Forum. Applicants must be of Hispanic or Latino, Black or African-American,
  Asian, Native Hawaiian or Pacific Islander, or American Indian or Alaskan
  Native descent.
</p>
<p>
  <a href="https://www.diglib.org/erl-dlf-cross-pollinator-travel-awards/"
    ><strong>ER&amp;L + DLF Cross-Pollinator Travel Award</strong></a
  >
</p>
<p>
  The purpose of these awards is to extend the opportunity to attend the DLF
  Forum to library professionals who would not typically attend.
</p>
<p>
  <strong
    ><a
      href="https://www.diglib.org/meet-the-2013-dlf-forum-fellows-and-travel-award-winners/"
      >Meet the 2013 DLF Forum Fellows and Travel Award Winners</a
    ></strong
  >.
</p>
<p><strong>SPONSORS</strong></p>
<p>
  <a href="http://iii.com/"
    ><img
      alt="Innovative_(only)_Logo_500px"
      src="/assets/images/Innovative_only_Logo_500px-300x58.jpg"
      width="173"
      height="33"
  /></a>
  <a href="http://www.arl.org/"
    ><img
      alt="ARL-logo-acronym-and-name-horizontal"
      src="/assets/images/ARL-logo-acronym-and-name-horizontal-300x99.png"
      width="173"
      height="57"
  /></a>
  <a href="http://www.electroniclibrarian.com/"
    ><img
      alt="newlogo"
      src="/assets/images/newlogo.png"
      width="173"
      height="73"
  /></a>
</p>
