---
title: 'Hotel and Travel'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  The Forum is at the
  <a href="http://www.meetattexas.com/"
    >AT&amp;T Executive Education &amp; Conference Center</a
  >, 1900 University Avenue, Austin, TX 78705. Hotel rooms are in the same
  complex for $185/night for single or double occupancy, November 3–7. Book
  <a href="https://resweb.passkey.com/go/CLIRES1113">online</a>
  or call 877-744-8822 (reference CLIRES1113) by October 22, 2013.
</p>
<p>
  UPDATE 9/16/13: The hotel block is sold out. The
  <a href="http://www.hamptoninnaustintx.com/">Hampton Inn</a> is nearby and has
  rooms available.
</p>

<p>
  By car:
  <a href="http://www.meetattexas.com/driving-directions.php"
    >http://www.meetattexas.com/driving-directions.php</a
  >
</p>
<p>
  Maps, parking, transportation:
  <a href="http://www.meetattexas.com/maps-parking.php"
    >http://www.meetattexas.com/maps-parking.php</a
  >
</p>
<p>
  Airport information:
  <a href="http://www.austintexas.gov/airport"
    >http://www.austintexas.gov/airport</a
  >
</p>
