---
title: 'Keynote Speakers'
layout: page.njk
eleventyNavigation:
  hide: true
---

<div class="row">
  <div class="col-12">
    <p>
      <strong>Opening Keynote</strong><br />
      November 4, 2013, 9:00 AM
    </p>
  </div>

  <div class="col-md-3 col-sm-12">
    <img
      class="img-thumbnail img-fluid float-start me-3"
      src="/assets/images/lankes.jpg"
      title="R. David Lankes"
      alt="R. David Lankes"
      width="130"
      height="180"
    />
  </div>
  <div class="col-md-9">
    <p>
      <strong
        ><a
          href="https://web.archive.org/web/20131104184729/http://quartz.syr.edu/blog/?page_id=27"
          >R. David Lankes</a
        ></strong
      >
      is a professor and Dean’s Scholar for the New Librarianship at Syracuse
      University’s School of Information Studies and director of the Information
      Institute of Syracuse. His book,
      <em>The Atlas of New Librarianship</em> won the 2012 ABC-CLIO/Greenwood
      Award for the Best Book in Library Literature. Lankes is a passionate
      advocate for librarians and their essential role in today’s society.
    </p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <p>
      <strong>Closing Keynote</strong><br />
      November 6, 2013, 10:45 AM
    </p>
  </div>
  <div class="col-md-3 col-sm-12">
    <img
      class="img-thumbnail float-start me-3"
      src="/assets/images/charbooth_oceansmall.jpg"
      title="Char Booth"
      alt="Char Booth"
      width="130"
      height="180"
    />
  </div>
  <div class="col-md-9">
    <p>
      Early riser, devoted oceanite, and advocate of radical neutrality,
      <strong>Char Booth</strong> explores the integration of pedagogy,
      research, technology, and design in libraries. Char is Head of Instruction
      Services and E-Learning Librarian at the Claremont Colleges Library, and
      is on the faculty of the ACRL Information Literacy Immersion Institute.
      Char blogs at
      <a href=" http://infomational.wordpress.com/">info-mational</a>
      and tweets
      <a href=" https://twitter.com/charbooth">@charbooth</a>. Her publications
      include the Ilene F. Rockman Instruction Publication of the Year-winning
      <i
        >Reflective Teaching, Effective Learning: Instructional Literacy for
        Library Educators</i
      >
      (ALA Editions, 2011) and<i>
        Informing Innovation: Tracking Student Interest in Emerging Library
        Technologies</i
      >
      (ACRL, 2009).
    </p>
  </div>
</div>
