---
title: 'Registration'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  UPDATE 10/30/13: Tickets for Taiga Forum 9 and the Project Managers Group will
  be available onsite at the Registration Desk.
</p>
<p>
  UPDATE 10/3/13: Registration is SOLD OUT. There are still tickets available
  for the Project Managers Group and Taiga Forum 9. There is a
  <a
    href="https://docs.google.com/forms/d/18WZYJqNOn2b8RNeM-ThCDG7PBR0skGfKa5Vd9iA-o6g/viewform"
    >waiting list</a
  >
  in case spaces become available.
</p>
<p>Registration for the 2013 DLF Forum is open until October 19, 2013.</p>
<p>
  If you are part of a presentation or attending an Affiliated Event, you can
  register at the DLF Member Rate ($350). A list of current DLF Members is
  <a href="http://www.diglib.org/members/">here</a>.
</p>

<p>Full schedule coming soon.</p>
<p><strong>Affiliated Events</strong></p>
<ul>
  <li>ALTO Board (11/3)</li>
  <li>
    Liberal Arts Colleges and Digital Scholarship Services (11/3) –
    Invitation-only
  </li>
  <li>METS Board (11/7)</li>
  <li>
    <a
      href="https://www.diglib.org/project-managers-group-annual-meeting-building-alliances/"
      >Project Managers Group</a
    >
    (11/7) – $30
  </li>
  <li>
    <a
      href="https://www.diglib.org/taiga-forum-9-diversity-in-academic-libraries/"
      >Taiga Forum 9</a
    >
    (11/7) – $105
  </li>
  <li>
    <a href="https://www.diglib.org/dh-and-libraries-thatcamp/">THATCamp</a>
    (11/7) – $25 (THATCampers must register on Eventbrite and
    <a href="http://dhlib2013.thatcamp.org/register/">here</a>.) –
    <strong>SOLD OUT</strong>
  </li>
</ul>
