---
title: 'Schedule'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p><strong>DLF Forum 2013 Preliminary Program</strong></p>

<p>
  AT&amp;T Conference Center Maps<br />
  <a href="/assets/files/ATT3.pdf">Level Three</a><br />
  <a href="/assets/files/ATT-Two.pdf">Level Two</a><br />
  <a href="/assets/files/ATT-One.pdf">Level One</a>
</p>
<p>
  <!--start_raw-->
</p>
<div class="dlfschedule">
  <div class="dlfs-date fs-3 border-bottom py-3">Sunday, November 3, 2013</div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10 am–5 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/lacdss/"
        >Liberal Arts Colleges and Digital Scholarship Seminar</a
      >
    </div>

    <div class="dlfs-room col">Salon D</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">12–1 pm</div>
    <div class="dlfs-title col">Lunch</div>
    <div class="dlfs-room col">Tejas</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">1–5 pm</div>
    <div class="dlfs-title col">ALTO Board Meeting</div>
    <div class="dlfs-room col">Salon E</div>
    <div class="dlfs-type col">Pre-Conference</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">Monday, November 4, 2013</div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8–9 am</div>
    <div class="dlfs-title col">Breakfast</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8 am</div>
    <div class="dlfs-title col">Registration/Info Desk Opens</div>
    <div class="dlfs-room col">Level Three</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9–10:30 am</div>
    <div class="dlfs-title col">Welcome and Keynote Address</div>
    <div class="dlfs-room col">Amphitheater</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10:30–10:45 am</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:45 am–12 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/26-2/"
        title="Carpe Data: Data Curation Services at Four Different Institutions"
        >Carpe Data: Data Curation Services at Four Different Institutions</a
      >
    </div>
    <div class="dlfs-room col">Amphitheater</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:45 am–12 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/81-2/"
        title="Digital Collections: If You Build Them, Will They Visit?"
        >Digital Collections: If You Build Them, Will They Visit?</a
      >
      and
      <a
        href="/schedule/84-2/"
        title="Metadata First: Using Structured Data Markup and the Google Custom Search API to Outsource Your Digital Collection Search Index"
        >Metadata First: Using Structured Data Markup and the Google Custom
        Search API to Outsource Your Digital Collection Search Index</a
      >
    </div>
    <div class="dlfs-room col">Salon C</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:45 am–12 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/hydra/" title="Dive Into Hydra">Dive Into Hydra</a>
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Tutorial</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">12–1:30 pm</div>
    <div class="dlfs-title col">Lunch</div>
    <div class="dlfs-room col">Tejas</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1:30–3 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/70-2/" title="Geospatial Data and Digital Libraries"
        >Geospatial Data and Digital Libraries</a
      >
    </div>
    <div class="dlfs-room col">Amphitheater</div>
    <div class="dlfs-type col">Working Session</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1:30–3 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/30-2/"
        title="Hunting for Best Practices in Digital Library Assessment"
        >Hunting for Best Practices in Digital Library Assessment</a
      >
    </div>
    <div class="dlfs-room col">Salon C</div>
    <div class="dlfs-type col">Working Session</div>
  </div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1:30–3 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/ashhl/" title="ArchivesSpace and Hydra Hacker Lounge"
        >ArchivesSpace and Hydra Hacker Lounge</a
      >
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">3–3:30 pm</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30–4:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/44-2/"
        title="Embedded Semantic Markup, schema.org, the Common Crawl, and Web Data Commons: What Big Web Data Means for Libraries and Archives"
        >Embedded Semantic Markup, schema.org, the Common Crawl, and Web Data
        Commons: What Big Web Data Means for Libraries and Archives</a
      >
      and
      <a
        href="/schedule/83-2/"
        title="Enhancing an OAI-PMH Service Using Linked Data"
        >Enhancing an OAI-PMH Service Using Linked Data</a
      >
    </div>
    <div class="dlfs-room col">Salon C</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30–4:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/29-2/"
        title="Big Archival Data: Designing Workflows and Access to Large-Scale Digitized Collections"
        >Big Archival Data: Designing Workflows and Access to Large-Scale
        Digitized Collections</a
      >
    </div>
    <div class="dlfs-room col">Amphitheater</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30-4:30 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/ashhl/" title="ArchivesSpace and Hydra Hacker Lounge"
        >ArchivesSpace and Hydra Hacker Lounge Cont.</a
      >
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">4:30–4:45 pm</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4:45–5:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/pathways/"
        title="Pathways to Stimulating Experiential Learning and Technological Innovation in Academic Libraries"
        >Pathways to Stimulating Experiential Learning and Technological
        Innovation in Academic Libraries</a
      >
    </div>
    <div class="dlfs-room col">Amphitheatre</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4:45–5:30 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/15-2/" title="DMPTool2: Improvements and Outreach"
        >DMPTool2: Improvements and Outreach</a
      >
    </div>
    <div class="dlfs-room col">Salon C</div>
    <div class="dlfs-type col">Research Update</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">4:45–5:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/66-2/"
        title="Corralling the Independent Spirit of Texas Libraries to Re-envision a Collaborative Statewide Digital Library"
        >Corralling the Independent Spirit of Texas Libraries to Re-envision a
        Collaborative Statewide Digital Library</a
      >
    </div>
    <div class="dlfs-room col">Salon DE</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">5:30–7:30 pm</div>
    <div class="dlfs-title col">Reception</div>
    <div class="dlfs-room col">Tejas and Courtyard</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">Tuesday, November 5, 2013</div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8–9 am</div>
    <div class="dlfs-title col">Breakfast</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8 am</div>
    <div class="dlfs-title col">Registration/Info Desk Opens</div>
    <div class="dlfs-room col">Level Three</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9–10:30 am</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/univ/"
        title="Past the First Bend in the Road: Reflections on the Development of Digital Scholarship Programs From Five Institutions"
        >Past the First Bend in the Road: Reflections on the Development of
        Digital Scholarship Programs From Five Institutions</a
      >
    </div>
    <div class="dlfs-room col">Amphitheatre</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9–10:30 am</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/21-2/"
        title="Determining Assessment Strategies for Digital Libraries and Institutional Repositories using Usage Statistics and Altmetrics"
        >Determining Assessment Strategies for Digital Libraries and
        Institutional Repositories using Usage Statistics and Altmetrics</a
      >
    </div>
    <div class="dlfs-room col">Salon C</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9–10:30 am</div>
    <div class="dlfs-title col">
      <a href="/schedule/snapshots/" title="Snapshots—Group A"
        >Snapshots—Group A</a
      >
    </div>
    <div class="dlfs-room col">Salon DE</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10:30–10:45 am</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:45-11:45 am</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/39-2/"
        title="Testing Omeka for Core Digital Library Services"
        >Testing Omeka for Core Digital Library Services</a
      >
    </div>
    <div class="dlfs-room col">Amphitheatre</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">10:45-11:45 am</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/32-2/"
        title="Influence of Academic Rank on Faculty Members’ Attitudes Toward Research Data Management"
        >Influence of Academic Rank on Faculty Members’ Attitudes Toward
        Research Data Management</a
      >
      and
      <a
        href="/schedule/45-2/"
        title="Humanities Data Curation in the Library: The Preservation of Digital Humanities Research Now and To Come"
        >Humanities Data Curation in the Library: The Preservation of Digital
        Humanities Research Now and To Come</a
      >
    </div>
    <div class="dlfs-room col">Salon C</div>
    <div class="dlfs-type col">Research Update</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">11:45 am–1 pm</div>
    <div class="dlfs-title col">
      Lunch,
      <a href="/schedule/boaf/">Birds of a Feather Sessions</a>, and
      <a href="/schedule/augm/">Archivematica User Group Meeting</a>
    </div>
    <div class="dlfs-room col">Tejas</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1–2:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/fai/"
        title="Fedora 4, ArchivesSpace, and Islandora Sync: Updates from the Community"
        >Fedora 4, ArchivesSpace, and Islandora Sync: Updates from the
        Community</a
      >
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1–2:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/55-2/"
        title="Services for Research Data and Open Access: Strategies and Toolkits being implemented at Virginia Tech, the University of California, and Duke University"
        >Services for Research Data and Open Access: Strategies and Toolkits
        being implemented at Virginia Tech, the University of California, and
        Duke University</a
      >
    </div>
    <div class="dlfs-room col">Amphitheatre</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">2:30-3:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/cie/"
        title="Community Idea Exchange Lightning Round and Posters"
        >Community Idea Exchange Lightning Round and Posters</a
      >
      and Break
    </div>
    <div class="dlfs-room col">Salon C and Salon AB</div>
    <div class="dlfs-type col">Posters</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30–5 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/78-2/"
        title="Interoperability in Practice: A Cross-Repository Image Viewer"
        >Interoperability in Practice: A Cross-Repository Image Viewer</a
      >
      and
      <a
        href="/schedule/4-2/"
        title="Do You Know What Your Digital Images Are Really Made Of? This Ain’t Your Grandma’s Presentation About PPI."
        >Do You Know What Your Digital Images Are Really Made Of? This Ain’t
        Your Grandma’s Presentation About PPI.</a
      >
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30–5 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/5-2/"
        title="Publishing in Your Library: Defining Purpose, Policies, and Practices"
        >Publishing in Your Library: Defining Purpose, Policies, and
        Practices</a
      >
    </div>
    <div class="dlfs-room col">Amphitheatre</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">3:30–5 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/snapshots/#group-b" title="Snapshots Group B"
        >Snapshots—Group B</a
      >
    </div>
    <div class="dlfs-room col">Salon DE</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">5–5:15 pm</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>
  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">5:15–6:15 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/69-2/"
        title="A Hydra Community Story: Breadth vs. Depth? What makes a successful Digital Library?"
        >A Hydra Community Story: Breadth vs. Depth? What makes a successful
        Digital Library?</a
      >
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">5:15–6:15 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/11-2/"
        title="What to do When the Cops Call?: Lessons Learned from ETDs and Repository Management"
        >What to do When the Cops Call?: Lessons Learned from ETDs and
        Repository Management</a
      >
    </div>
    <div class="dlfs-room col">Salon C</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">5:15–6:15 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/snapshots/#group-c" title="Snapshots Group C"
        >Snapshots—Group C</a
      >
    </div>
    <div class="dlfs-room col">Salon DE</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">
    Wednesday, November 6, 2013
  </div>
  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8–9 am</div>
    <div class="dlfs-title col">
      Breakfast and
      <a href="/schedule/cie/">Community Idea Exchange Posters</a>
    </div>
    <div class="dlfs-room col">Ballroom Prefunction and Salon AB</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">8 am</div>
    <div class="dlfs-title col">Registration/Info Desk Opens</div>
    <div class="dlfs-room col">Level Three</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9–10:30 am</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/17-2/"
        title="Digital in Context: Designing a Digital Program For the Humanities"
        >Digital in Context: Designing a Digital Program For the Humanities</a
      >
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9–10:30 am</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/36-2/"
        title="What’s Holding Us Back: Honest Conversations about Starting and Sustaining New Projects"
        >What’s Holding Us Back: Honest Conversations about Starting and
        Sustaining New Projects</a
      >
    </div>
    <div class="dlfs-room col">Salon DE</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">9–10:30 am</div>
    <div class="dlfs-title col">
      <a href="/schedule/esci/" title="Sharing E-Research Strategic Agendas"
        >Sharing E-Research Strategic Agendas</a
      >
    </div>
    <div class="dlfs-room col">Classroom 105</div>
    <div class="dlfs-type col">Presentation</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10:30-10:45 am</div>
    <div class="dlfs-title col">Break</div>
    <div class="dlfs-room col">Ballroom Prefunction</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">10:45 am–12 pm</div>
    <div class="dlfs-title col">Closing Remarks and Keynote Address</div>
    <div class="dlfs-room col">Salon C</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">12–1:30 pm</div>
    <div class="dlfs-title col">Lunch</div>
    <div class="dlfs-room col">Salon C</div>
  </div>

  <div class="dlfs-headline">Concurrent Sessions</div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1:30–4:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/28-2/"
        title="Creating the New Normal: Fostering a Culture of Data Sharing With Researchers"
        >Creating the New Normal: Fostering a Culture of Data Sharing With
        Researchers</a
      >
    </div>
    <div class="dlfs-room col">Salon DE</div>
    <div class="dlfs-type col">Workshop</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1:30–4:30 pm</div>
    <div class="dlfs-title col">
      <a
        href="/schedule/dplabhl/"
        title="Collection Assessment in a Collaborative Environment: BHL and DPLA"
        >Collection Assessment in a Collaborative Environment: BHL and DPLA</a
      >
    </div>
    <div class="dlfs-room col">Conference Room 301</div>
    <div class="dlfs-type col">Workshop</div>
  </div>

  <div class="dlfs-item row py-3 dlfs-concurrent">
    <div class="dlfs-time col">1:30–4:30 pm</div>
    <div class="dlfs-title col">
      <a href="/schedule/ahl/" title="AMIA Hacker Lounge">AMIA Hacker Lounge</a>
    </div>
    <div class="dlfs-room col">Salon AB</div>
    <div class="dlfs-type col">Working Session</div>
  </div>

  <div class="dlfs-date fs-3 border-bottom py-3">
    Thursday, November 7, 2013
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9 am–1 pm</div>
    <div class="dlfs-title col">
      <a
        href="https://www.diglib.org/project-managers-group-annual-meeting-building-alliances/"
        >Project Managers Group</a
      >
    </div>
    <div class="dlfs-room col">Salon D</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9 am–5 pm</div>
    <div class="dlfs-title col">
      <a
        href="https://www.diglib.org/taiga-forum-9-diversity-in-academic-libraries/"
        >Taiga Forum 9</a
      >
    </div>
    <div class="dlfs-room col">Salon E</div>
    <div class="dlfs-type col">Post-Conference</div>
  </div>

  <div class="dlfs-item row py-3">
    <div class="dlfs-time col">9 am–5 pm</div>
    <div class="dlfs-title col">
      <a href="https://www.diglib.org/dh-and-libraries-thatcamp/"
        >DH &amp; Libraries THATCamp</a
      >
    </div>
    <div class="dlfs-room col">Salon AB</div>
    <div class="dlfs-type col">Post-Conference</div>

    <div class="dlfs-item row py-3">
      <div class="dlfs-time col">9 am–5 pm</div>
      <div class="dlfs-title col">METS Board Meeting</div>
      <div class="dlfs-room col">Classroom 107</div>
      <div class="dlfs-type col">Post-Conference</div>

      <div class="dlfs-item row py-3">
        <div class="dlfs-time col">12–1 pm</div>
        <div class="dlfs-title col">Lunch</div>
        <div class="dlfs-room col">Tejas</div>
      </div>
    </div>
    <!--end_raw-->
    <p></p>
    <p>
      <a
        target="_blank"
        href="http://www.scribd.com/doc/168661228/DLF-Forum-2013-Schedule"
        >Printable Schedule</a
      >
    </p>
  </div>
</div>
