---
title: 'Sponsorship Opportunities'
layout: page.njk
eleventyNavigation:
  hide: true
---

<h3>About the Forum</h3>
<p>
  The Digital Library Federation Forum brings together a wide variety of players
  in the digital library environment, from project managers and developers, to
  administrators and service providers, and focuses on the operational layer of
  digital libraries. This conference is well known for its community building
  and strong emphasis on sharing ideas, collaboration, and best practices work.
  The DLF Forum is an open meeting, welcoming both DLF members and others who
  work in the field, and provides a strategic platform for organizations to
  reach a broad, relevant audience. We anticipate hosting 250+ attendees at the
  2013 Forum, November 4-6, 2013 in Austin, TX. To sponsor the DLF Forum, please
  contact Louisa Kwasigroch at lkwasigroch [at] clir.org or 202-939-4758 by
  September 1.
</p>

<h3 class="mt-5">The DLF Community</h3>
<p>
  The DLF is a robust and diverse community of practitioners who advance
  research, teaching and learning through the application of digital library
  research, technology and services. DLF serves as a resource and catalyst for
  collaboration among digital library developers, project managers, and all who
  are invested in digital library issues. Our membership consists of over 70
  large academic research libraries leading the way in digital libraries and
  data management services.
</p>

<h3 class="my-3">Sponsorship Levels</h3>
<h4>Partner ($15,000)</h4>

<ul>
  <li>Logo on DLF’s website year-round</li>
  <li>Opportunity to address crowd at Opening Session</li>
  <li>Membership</li>
  <li>Invitation to and acknowledgement at DLF events</li>
  <li>All the benefits of a Platinum sponsorship</li>
</ul>
<h3>Platinum ($5,000 to $10,000)</h3>
<ul>
  <li>Name in program as a platinum sponsor</li>
  <li>
    Large official organizational logo on the 2013 DLF Forum website (with an
    active link to sponsor’s official website)
  </li>
  <li>
    Acknowledgment from the podium at the opening and closing of the conference
  </li>
  <li>Two Forum registrations</li>
  <li>
    Slot in the poster session to demo sponsor’s most recent products and
    services
  </li>
  <li>Named conference opportunity – Reception or Keynote</li>
</ul>
<h3>Gold ($3,000 to $4,999)</h3>
<ul>
  <li>Name in program as a gold sponsor</li>
  <li>
    Medium official organizational logo on the 2013 DLF Forum website (with an
    active link to sponsor’s official website)
  </li>
  <li>
    Acknowledgment from the podium at the opening and closing of the conference
  </li>
  <li>One Forum registration</li>
  <li>
    Slot in the poster session to demo sponsor’s most recent products and
    services
  </li>
  <li>Named conference opportunity – Coffee Station or Afternoon Break</li>
</ul>
<h3>Silver ($1,000 to $2,900)</h3>
<ul>
  <li>Name in program as a silver sponsor</li>
  <li>
    Official organizational logo on the 2013 DLF Forum website (with an active
    link to sponsor’s official website)
  </li>
  <li>Acknowledgment from the podium</li>
  <li>
    Slot in the poster session to demo sponsor’s most recent products and
    services
  </li>
</ul>
<h3>Bronze (under $1,000)</h3>
<ul>
  <li>Name in program and on the 2013 DLF Forum website as a bronze sponsor</li>
  <li>Acknowledgment from the podium</li>
</ul>

<h3 class="my-3">Unique Sponsorship Opportunities</h3>
<h4>Forum Schedule Mobile App – $10,000</h4>
<p>
  Sponsor the mobile app that attendees use before and during the Forum – there
  will be no printed program. A clickable banner with your name/logo is on the
  main menu.
</p>
<h4>2013 Forum Fellowships for Librarians New to the Profession – $5,000</h4>
<p>
  Send up to five new and/or aspiring librarians to the DLF Forum. Details about
  last year’s Fellowships are
  <a
    href="https://forum2012.diglib.org/dlf-forum-fellowships-for-librarians-new-to-the-profession/"
    >here</a
  >. [The Fellowships have been sponsored.]
</p>
<h4>DLF Water Bottles – $2,500</h4>
<p>
  Put your logo on the quality reusable water bottles that each attendee
  receives. Great for branding and the environment!
</p>
<h4>Badge Lanyards – $1,500</h4>
<p>
  Everyone will be wearing a lanyard – and therefore your logo. Put your
  organization front and center at the 2013 DLF Forum.
</p>
