---
title: 'Things to Know'
layout: page.njk
eleventyNavigation:
  hide: true
---

<p>
  <strong>Green Initiatives</strong><br />
  For the 2013 DLF Forum we will continue our green initiatives from prior
  Forums (offering filtered water instead of bottled and limiting paper
  materials) and encourage all of our session leaders to use electronic methods
  of dispersing information, such as Slideshare and Google docs, instead of
  handouts.
</p>
<p>
  We will be using the Guidebook app, which allows participants to download the
  Forum schedule on a smart phone or tablet. In addition to saving some trees,
  this application has interactive functionality– create a personalized agenda,
  view the participants list, set reminders, or start a to-do list! Click the
  button below for details on downloading.
  <strong
    >If you prefer a hard copy of the schedule, please remember to
    <a href="http://www.scribd.com/doc/168661228/DLF-Forum-2013-Schedule"
      >print one</a
    >
    before leaving home!</strong
  >
</p>

<p>
  <strong>Community Reporting</strong><br />
  The Program Planning Committee needs your help to report on DLF Forum
  sessions. You may have experienced this “crowdsourced reporting” at other
  conferences or meetings. The goal is to have a single place where those who
  cannot attend the session can learn about what was discussed and expand the
  conversation beyond the Forum. We are creating Google docs, editable by all,
  that will be linked from the individual session pages (you can find a session
  page by clicking on its title from the main
  <a href="/schedule/">Schedule</a>
  page). We will also try to announce the URLs at the top of each session and
  via Twitter. If you take notes during a DLF session, please consider doing so
  on the Google doc for that session and contributing to this community effort!
</p>
<p>
  <strong>Dress Code</strong><br />
  Casual. Cowboy boots optional.
</p>
<p>
  <strong>Code of Conduct</strong><br />
  The Digital Library Federation is dedicated to providing a harassment-free
  conference experience for everyone regardless of gender, sexual orientation,
  disability, physical appearance, body size, race, or religion. We do not
  tolerate harassment of conference participants in any form. Sexual or
  discriminatory language and imagery is not appropriate for any conference
  venue, including talks. DLF Forum participants violating these rules may be
  sanctioned or expelled from the conference at the discretion of the conference
  organizers.
</p>
<p>
  Please review the
  <a title="Code of Conduct" href="http://www.diglib.org/about/code-of-conduct/"
    >DLF Code of Conduct</a
  >
  for a full statement on our policies regarding inappropriate conduct and
  harassment. We expect participants to follow these rules at all conference
  venues and conference-related social events.
</p>
<p>
  <strong>Swag</strong><br />
  Got stickers or something to share? We will have a swag table. Please keep
  your items small and plan for 300 attendees. DLF reserves the right to limit
  what is on the table.
</p>
